<div class="footer" style="padding-top:20px">
    <p class="text-center">Copyright ©2016 XDore
    <br>Design by <%= link_to "cnDaniel", "https://github.com/cndaniel/" %> and <%= link_to "ray16897188", "https://github.com/ray16897188" %> </p>
</div>
